p{
    color: blue;
    font-size: 45px;
}
h1{
    color: blueviolet;
    font-size: 50px;
}
h3{
    color: darkgreen;
    font-size: 40px;
}

.D{
    color: rgb(205, 50, 50);
    font-size: 60px;
    font-style: italic;
}
.F{
    color: brown;
    font-size: 35PX;
}
label{
color: rgb(5, 7, 4);
font-weight: b;
font-size: 30px;
font-style: italic;
font-weight: bold;
margin-right: 13px;
border: 4px solid rgb(255, 0, 72)

}
#kk{
    color: rgb(2, 1, 1);
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
#vv{
    direction: rtl;
    text-align: center;
    color: blue;
    text-shadow: 25px 20px 90px ;
}
*{
    direction: rtl;
    font-weight: bold;
}
body{
    background-color: rgb(254, 254, 254);
}
#xx{
    text-align: center;
    color: brown;
}

#mm{
    text-align: center;
    color: rgb(8, 22, 22);
    font-size: 50px;
letter-spacing: 5px;
text-shadow: 15px 15px 20px ;
}
#ee{
    font-size:55px ;
    color: rgb(0, 18, 6);
    font-style: italic;
    background-color: rgb(195, 248, 195);
border:4px solid rgb(122, 4, 4) ;
}

*{
    text-transform: capitalize;
}
#rt{
    text-align: center;
    font-size: 45px ;
    color: rgb(254, 0, 0);
    text-shadow: 20px 20px 80px ;


}
#nm{
border: 4px solid rgb(22, 18, 25) ;
background-color: rgb(144, 161, 152);
text-align: center;

}
#lp{
    font-size: 30px;
    color: rgb(61, 165, 42);
    text-shadow: 20px 25px 30px green ;
}
#tu{
    border-radius: 20px;
    
}
#mh{
    border-radius: 15px;
}
#li{
   color: rgb(14, 27, 1); 
   font-style: italic;
   font-weight: bold;
   background-color: cadetblue;
   border:10px solid rgb(60, 53, 73) ;

}
#gh{
 text-align: right ;
 background-color: rgb(19, 228, 85);
 color: rgb(122, 4, 4);
 border: 5px solid rgb(1, 0, 0) ;
font-weight: bold;
font-size: 30px ;
}
#lv{
    font-size: 35px;
    background-color: chocolate;
    color: black;
}
#mc{
    text-align: center;
    
}
#loo{
    border: 5px solid green
}
#kh{
   background-color: aquamarine;
   color: brown; 

}
#jh{
    font-size: 60px;
text-decoration: none;
color: blueviolet;
border:5px solid rgb(75, 105, 85) ;
}
#hhh{
    font-size: 30px;
background-color: rgb(141, 87, 137);
border:4px solid rgb(185, 160, 160) ;


text-decoration: none;
color: brown;
font-style: italic;
padding: 5px;
margin: 10px;
}
#pop{
    text-align: center;
    color: rgb(8, 7, 8);
    font-size: 40px ;
    background-color: aqua;
    font-weight: bold;
}
table,th,td{
    font-size: 40px;
    color: rgb(11, 2, 5);
    border: 3px solid rgb(116, 46, 46) ;
    border-collapse: collapse;
    width: 80%;
height: auto;
    
}
thead{
    background-color: rgb(42, 165, 65);
font-style: italic;
}
tbody tr:nth-child(even){
    background-color: chocolate;
}
input{
    width: 300px ;
    height:50px ;
    border:5px solid green ;
    
}
#lop{
    text-align:start
    
}
body{
    
        background: linear-gradient(291deg, #34d5ac, #d58334, #c60773);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 22s ease infinite;
        -moz-animation: AnimationName 22s ease infinite;
        animation: AnimationName 22s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    @keyframes AnimationName {
        0%{background-position:0% 48%}
        50%{background-position:100% 53%}
        100%{background-position:0% 48%}
    }
    
























